# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Byte-compiled / optimized / DLL files
*.pyd
*.dll
*.dylib

# Virtual environments
.venv/
venv/
ENV/
env/
*.env
*.bak

# Python egg metadata
*.egg-info/
.eggs/

# ============================================================
# PROJECT ARTIFACTS
# ============================================================
# Model artifacts
models/
mlruns/
mlartifacts/
*.onnx
*.joblib
*.pkl

# Datasets
# Datasets
data/ingested/
data/raw/
data/tmp/
data/*.tsv
data/*.jsonl
data/*.parquet
!data/sample_ads.csv


# Logs
logs/
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# Temporary files
tmp/
temp/
*.tmp

# ============================================================
# IDE / OS FILES
# ============================================================
.vscode/
.code/
*.code-workspace
.idea/

# macOS
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ============================================================
# DOCKER
# ============================================================
*.tar
docker-compose.override.yml

# ============================================================
# AIRFLOW
# ============================================================
airflow/
*.db
airflow.db
logs/

# ============================================================
# KUBERNETES & SECRETS
# ============================================================
*.crt
*.key
*.pem
*.secret
secrets.yaml

# ============================================================
# MISC
# ============================================================
*.out
*.swp
*.swo
.cache/
coverage/
dist/
build/
